! ==============================================================================
*.cursorColor:   #5C6370
*.highlightColor:#3A3F4B
! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
! black
*.color0:     #000000
*.color8:     #4D4D4D
! red
*.color1:     #FF5555
*.color9:     #FF6E67
! green
*.color2:     #50FA7B
*.color10:    #5AF78E
! yellow
*.color3:     #F1FA8C
*.color11:    #F4F99D
! blue
*.color4:     #BD93F9
*.color12:    #CAA9FA
! magenta
*.color5:     #FF79C6
*.color13:    #FF92D0
! cyan
*.color6:     #8BE9FD
*.color14:    #9AEDFE
! white
*.color7:     #BFBFBF
*.color15:    #E6E6E6
! ==============================================================================


! ==============================================================================
! +----------------------------------------------------------------------------------+
! | urxvt "fake" transparency                                                        |
! | - https://wiki.archlinux.org/index.php/Rxvt-unicode/Tips_and_tricks#Transparency |
! +----------------------------------------------------------------------------------+
! URxvt.inheritPixmap:      true
! URxvt.transparent:        true
! ! URxvt.shading: 0 to 99 darkens, 101 to 200 lightens
! URxvt.shading:            25

! +---------------------------+
! | urxvt "true" transparency |
! +---------------------------+
! URxvt.depth:                   32
! URxvt.background:              [85]S_base03
! ==============================================================================


! ==============================================================================
! +------------------------------------------------------------------------------+
! | urxvt font setting                                                           |
! | - https://wiki.archlinux.org/index.php/Rxvt-unicode#Font_declaration_methods |
! +------------------------------------------------------------------------------+
URxvt.font:               xft:Firacode Nerd Font Mono:size=12,\
                          xft:DejaVuSansMono Nerd Font Mono:size=12,\
                          xft:TerminessTTF Nerd Font Mono:size=12,\
                          xft:NotoEmoji Nerd Font Mono:size=12,\
                          xft:Noto Sans Mono CJK SC:size=12,\
                          xft:Noto Serif CJK SC:size=12,\
                          xft:Noto Color Emoji:size=12

! +---------------------------------------------------------------------------------------------------+
! | xft setting (font rendering)                                                                      |
! | - https://wiki.archlinux.org/index.php/Font_configuration#Applications_without_fontconfig_support |
! +---------------------------------------------------------------------------------------------------+
Xft.dpi:                  96
Xft.antialias:            true
Xft.hinting:              true
Xft.rgba:                 rgb
Xft.autohint:             false
Xft.hintstyle:            hintslight
Xft.lcdfilter:            lcddefault
! ==============================================================================


! ==============================================================================
! +-------------------+
! | scrollBar setting |
! +-------------------+
URxvt.scrollBar:          false
! ==============================================================================


! ==============================================================================
! +-------------------+
! | saveLines setting |
! +-------------------+
URxvt.saveLines:          5000
! ==============================================================================


! ==============================================================================
! +-------------------------------------------------------------------+
! | urxvt-perls                                                       |
! | https://wiki.archlinux.org/index.php/Rxvt-unicode#Perl_extensions |
! +-------------------------------------------------------------------+
URxvt.perl-lib: /home/ianz/.urxvt/ext/
URxvt.perl-ext-common: keyboard-select,url-select,font-size,tabbedalt

!! ketboard-select
!! https://aur.archlinux.org/packages/urxvt-perls-git/
URxvt.keysym.M-Escape:       perl:keyboard-select:activate
! The following line overwrites the default Meta-s binding and allows to
! activate keyboard-select directly in backward search mode:
URxvt.keysym.M-s:            perl:keyboard-select:search

!! url-select - Yankable URLs (no mouse)
!! https://wiki.archlinux.org/index.php/Rxvt-unicode#Yankable_URLs_(no_mouse)
URxvt.keysym.M-u:            perl:url-select:select_next
URxvt.url-select.launcher:   /usr/bin/xdg-open
URxvt.url-select.underline:  true
! Matching links can be colored with a chosen foreground or background color,
! for example blue:
! URxvt.matcher.rend.0:        Uline Bold fg5
! Alternatively, use colorUL for a #RRGGBB color. This will however color all
! underlined text, instead of only link matches:
URxvt.colorUL:               #FF79C6

!! font-size - interactive font size setter
URxvt.keysym.C-question:     font-size:show
URxvt.resize-font.step:      1

!! Tabbed perl extension for rxvt-unicode terminal emulator
URxvt.tabbedalt.new-button: false
URxvt.tabbedalt.tabbar-fg: 0
URxvt.tabbedalt.tabbar-bg: 4
URxvt.tabbedalt.tab-fg: 4
URxvt.tabbedalt.tab-bg: 0
URxvt.tabbedalt.active-fg: 3
URxvt.tabbedalt.actives-fg: 3
URxvt.tabbedalt.actived-fg: 3
URxvt.tabbedalt.tabbar-timeouts: 10:.:4:::2:*
URxvt.tabbedalt.tab-numbers: false
URxvt.tabbedalt.tabcmds.1: N|workspace
URxvt.tabbedalt.tabcmds.2: R|root|su -
URxvt.tabbedalt.tabcmds.3: T|bpytop|bpytop
URxvt.tabbedalt.tabcmds.4: F|ranger|ranger
URxvt.tabbedalt.session: N
! ==============================================================================


! ==============================================================================
! +---------------------------+
! | disable a default binding |
! +---------------------------+
!! For the Ctrl+Shift bindings to work, a default binding needs to be disabled
!! https://wilmer.gaa.st/blog/archives/36-rxvt-unicode-and-ISO-14755-mode.html
URxvt.iso14755: false
URxvt.iso14755_52: false
! ==============================================================================


! URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
! URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard
! ! Xterm escape codes, word by word movement
! URxvt.keysym.Control-Left:        \033[1;5D
! URxvt.keysym.Shift-Control-Left:  \033[1;6D
! URxvt.keysym.Control-Right:       \033[1;5C
! URxvt.keysym.Shift-Control-Right: \033[1;6C
! URxvt.keysym.Control-Up:          \033[1;5A
! URxvt.keysym.Shift-Control-Up:    \033[1;6A
! URxvt.keysym.Control-Down:        \033[1;5B
! URxvt.keysym.Shift-Control-Down:  \033[1;6B
! ! Rxvt.perl-ext-common:             ...,clipboard
! ! URxvt.keysym.M-C-c:               perl:clipboard:copy
! ! URxvt.keysym.M-v:                 perl:clipboard:paste
! ! URxvt.keysym.M-C-v:               perl:clipboard:paste_escaped
